*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

div.container div.ball{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    /* transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0,-1.03, 0.89, 1.79); */
}

div.container div.ball:nth-child(1){
    /* transform: translateX(300px);
    background-color: brown;
    cursor: pointer; */
    animation-duration: 3s;
    animation-name: stylish-rotate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
div.container div.ball:nth-child(2){
    /* transform: translateX(300px);
    background-color: brown;
    cursor: pointer; */

    animation-duration: 3s;
    animation-name: bounce;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
div.container div.ball:nth-child(3){
    /* transform: translateX(300px);
    background-color: brown;
    cursor: pointer; */
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: stylish-rotate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes bounce{

    0%{}
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(-100px);
    }
    0%{}
}


@keyframes stylish-rotate {
    0% {
        background-color: violet;
    }
    14% {
        background-color: indigo;
    }
    28% {
        background-color: blue;
    }
    42% {
        background-color: green;
    }
    56% {
        background-color: yellow;
    }
    70% {
        background-color: orange;
    }
    84% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}
